---
const { employer, type, positions } = Astro.props;
---

<div class="mt-12 p-8 w-full bg-amber-500">
    <div class="w-full flex justify-start items-center flex-row">
        <div class="flex items-center">
        </div>
        <div class="grow">
            <p class="font-mono font-bold text-2xl uppercase text-gray-100">{employer}</p>
            <p class="font-mono font-regular text-xl uppercase text-gray-100">{type}</p>
        </div>
    </div>
    <div class="w-full mt-6">
        {positions.map((item:any) => (
            <div class="w-full mt-4">
                <div class="w-full flex flex-row items-center">
                    <div class="w-4 flex item-center justify-center"><div class="w-4 h-4 bg-amber-500" /></div>
                    <p class="text-xl font-mono font-extrabold uppercase text-gray-100">{item.title}</p>
                </div>
                <div class="w-full flex flex-row items-center">
                    <div class="w-4 self-stretch flex item-center justify-center"><div class="w-1 h-full bg-amber-500" /></div>
                    <div>
                        <p class="text-xl font-mono font-light uppercase text-gray-100">{item.start + " TO " + item.end}</p>
                        <p class="text-xl font-mono font-light uppercase text-gray-100">{item.location}</p>
                        {item.hasDiploma && <p class="text-xl font-mono font-light uppercase text-gray-100">{item.diploma}</p>}
                        {item.hasSecondDiploma && <p class="text-xl font-mono font-light uppercase text-gray-100">{"+ " + item.secondDiploma}</p>}
                    </div>
                </div>
            </div>
        ))}
    </div>
</div>